html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
h1 {
  font-family: 'Exo 2', sans-serif;
}

p {
  font-family: 'Raleway', sans-serif;
}

body {
  text-align: center;
  background-color: #f79d2e;
  margin:30px;
}

nav ul li {
  display: inline-flex;
  border: 3px solid black;
  padding: 5px 5px 5px 5px;
  margin: 20px;
  font-family: 'Raleway', sans-serif;
}
